################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/data-service/.vs/data-service/CopilotIndices/18.8.1096.64007
/src/data-service/.vs
/src/data-service/obj
